{
	"plugins": ["prettier-plugin-organize-imports"],
	"printWidth": 100,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"singleAttributePerLine": true,
	"trailingComma": "none",
	"endOfLine": "lf"
}
